<h2 mat-dialog-title class="dialog-title">
  {{ isEditMode ? 'ویرایش سؤال' : 'افزودن سؤال جدید' }}
</h2>

<mat-dialog-content [formGroup]="form" class="dialog-content">

  <!-- فیلد سؤال -->
  <mat-form-field appearance="outline" class="fullWidth">
    <mat-label>متن سؤال</mat-label>
    <input matInput formControlName="text" />
  </mat-form-field>

  <!-- گزینه‌ها -->
  <div formArrayName="answers" class="answers-section">
    @for (answer of answers.controls; track $index) {
      <div [formGroupName]="$index" class="answer-row">
        <mat-form-field appearance="outline" class="answer-text">
          <mat-label>گزینه {{ $index + 1 }}</mat-label>
          <input matInput formControlName="text" />
        </mat-form-field>

        <mat-checkbox formControlName="isCorrect" color="primary">
          صحیح
        </mat-checkbox>
      </div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-stroked-button color="warn" class="cancel-btn" (click)="cancel()">
    انصراف
  </button>
  <button mat-raised-button color="primary" class="save-btn" (click)="submit()">
    ذخیره
  </button>
</mat-dialog-actions>
