# ---------------------------
# Visual Studio
# ---------------------------
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb
*.cache
*.log

# ---------------------------
# .NET
# ---------------------------
bin/
obj/
TestResults/
*.dll
*.exe
*.db
*.db-shm
*.db-wal

# ---------------------------
# Node / Angular
# ---------------------------
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# ---------------------------
# IDE / Editors
# ---------------------------
.vscode/
*.code-workspace
.idea/
*.iml

# ---------------------------
# System
# ---------------------------
.DS_Store
Thumbs.db

# Angular / build / cache
.angular/
dist/
out-tsc/
