<div>
  @if (quiz) {
 <mat-card>
    <mat-card-title>{{ quiz.title }}</mat-card-title>
    <div>Remaining: {{ remainingSeconds }}s</div>
    <div class="question-block">
      @for (q of quiz.questions; track $index) 
      {
        <h4>{{ q.text }}</h4>
        <mat-radio-group>
          <mat-radio-button *ngFor="let a of q.answers" (change)="selectAnswer(q, a.id)">{{ a.text }}</mat-radio-button>
      </mat-radio-group>
      }
     
    </div>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </mat-card>
  }
 
</div>
